CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json
cmake-build-debug
cmake-build-debug-coverage
image_processing
image_processing.iml
.idea
output
.cmake
image_processing_tests
libimage_processing_lib.a